<html>
    <head>
        <title>
            Home Page
        </title>
        <link rel="stylesheet", href="/static/style.css">
    </head>
    <style>
        .para
        {
            background-color: blanchedalmond; 
        }
    </style>
    <body>
        <p class="para"> "Hi all we are creating Home page of sample project <%= name %> </h1></p>
    </body>
</html>